<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>AuthentificationElevate.ejs</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.min.css">

    <!-- My CSS -->
    <link rel="stylesheet" href="css/style.css" />
</head>


<nav>
    <%- include("partials/navBar.ejs"); -%>
</nav>

<body class="container-fluid">
  
 
    <h3>Bienvenue sur votre espace Administrateur</h3>
    <p></p>
     
    
    <footer>
        <%- include ("partials/FooterBackOffice.ejs"); -%>
    </footer>
</body>

</html>