<div class="menu">
  <input type="checkbox" id="menu">
  <label for="menu">
    <img
      src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAMFBMVEUAAAD///////////////////////////////////////////////////////////87TQQwAAAAD3RSTlMAAQ8TFB4fSV6Ag4Wt6/uDY192AAAAQElEQVQoz2NgIAiEXVCAAsP5/yjgOwMq//8vdIHfDO9RBX4y9KEKXGOgCUCz5SqmOzBciuEXDN9ihAc1wGANZAAX+vf+Xu8gUwAAAABJRU5ErkJggg=="
      width="32" height="32" alt="">
  </label>
  <h1><img href="/dashboard" class="mb-6" src="Ressources/elevateproqual.png" alt="" width="110" height="25"></h1>
  <input type="checkbox" id="menu">
  <ul>
    <li><a href="/dashboard">Tableau de bord</a></li>
    <li><a href="/products">Produits</a></li>
    <li><a href="/suppliers">Fournisseurs</a></li>
    <li>
      <ul>
        <li><a href="/Catering">Banquets</a></li>
        <li><a href="/Kitchen">Cuisine</a></li>
        <li><a href="/Breakfast">Espace Latitude</a></li>
        <li><a href="/Bar">Jazz Club</a></li>
        <li><a href="/Lounge">Club Lounge</a></li>
      </ul>
      
      <a href="/services">Services</a>
    </li>
    <li><a href="/break">Casse</a></li>
    <li><a href="/cleaningAgents">Produits d'entretien</a></li>
    <li><a class="btn btn-danger mx-auto" type="button" href="/">
        <img src="css/bootstrap/bootstrap-icons/icons/power.svg" alt="Log-out-session" width="30" height="24"
          name="log-out-icon">
      </a></li>
  </ul>
</div>
<br>
<br>
<br>
<br>